{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title 'Bonus 1' %}

{% block content_header_more %}
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{{ path("_welcome") }}">About</a></li>
                    <li class="right-border"></li>
                    <li><a href="{{ path("_welcome") }}">Floor Plans</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path("_welcome") }}">Location</a></li>
                    <li class="right-border"></li>
                    <li><a href="{{ path("_welcome") }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <section id="headline">
        <div class="container-fluid">
            <div class="col-md-12">
                <h1 class="page-header">{{ block('title') }}</h1>
            </div>
        </div>
        <div class="container">
            <ul>
                {% block bonus_description %}
                    <li>Show a popup containing a form at the moment the website loads</li>
                    <li>The form heading will read "Email Subscription"</li>
                    <li>The form will contain an email field and a submit button</li>
                    <li>The submitted data will be stored locally without duplicated entries</li>
                    <li>The popup will have a close button to hide the popup at any time.</li>
                {% endblock %}
            </ul>
        </div>
    </section>

    <div class="modal fade" id="modal-bonus">
        <div class="modal-dialog">
            {{ form_start(form) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Email Subscription</h4>
                </div>
                <div class="modal-body">
                    {% block modal_body %}
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {{ form_widget(form.send) }}
                    {{ form_rest(form) }}
                </div>
            </div>
            <!-- /.modal-content -->
            {{ form_end(form) }}
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/bootstrap/js/modal.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#modal-bonus').modal('show');
        });
    </script>
{% endblock %}