{% extends 'AcmeDemoBundle:Welcome:bonus1.html.twig' %}

{% block bonus_description %}
<li>You must complete Bonus Challenge 1</li>
<li>Add a second step to the form containing 3 more fields: Full Name, Username and Password</li>
<li>All information should be storage locally</li>
<li>Create a new Login page under the url /user/login</li>
<li>The login page should contain a form asking with Username and Password</li>
<li>Once the user have entered the right credentials, the message "Welcome [Full Name]" should show, where [Full Name] is the full name of the current user</li>
{% endblock %}

{% block modal_body %}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
        {{ form_errors(form.username) }}
    </div>
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form.fullName) }}
        {{ form_widget(form.fullName) }}
        {{ form_errors(form.fullName) }}
    </div>
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form.password) }}
        {{ form_widget(form.password) }}
        {{ form_errors(form.password) }}
    </div>
{% endblock %}